In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Mall_Customers.csv")

In [3]:
print(df.head())
print(df.info())
print(df.isnull().sum())
print(df.duplicated().sum())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64
0

In [4]:
df = df.dropna()

In [5]:
df = df.drop_duplicates()

In [6]:
df['Gender'] = df['Gender'].str.strip().str.lower()

In [7]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [8]:
df['age'] = df['age'].astype(int)

In [9]:
df.to_csv("Cleaned_Mall_Customers.csv", index=False)